*.pyc
__pycache__
.DS_Store
*_checkpoints
app/datasets/
app/ndmachines/
app/outputx/
app/CyberShake_100_machine_execution_time.yml
app/CyberShake_30.dot_machine_execution_time.yml
app/CyberShake_30_machine_execution_time.yml
app/CyberShake_50_machine_execution_time.yml
app/Cybershake_100.dot_machine_execution_time.yml
app/Epigenomics_100_machine_execution_time.yml
app/Epigenomics_24.dot_machine_execution_time.yml
app/Epigenomics_24_machine_execution_time.yml
app/Epigenomics_46_machine_execution_time.yml
app/Inspiral_100_machine_execution_time.yml
app/Inspiral_30_machine_execution_time.yml
app/Inspiral_50_machine_execution_time.yml
app/Montage_100_machine_execution_time.yml
app/Montage_25_machine_execution_time.yml
app/Montage_50_machine_execution_time.yml
app/Sipht_100_machine_execution_time.yml
app/Sipht_30_machine_execution_time.yml
app/Sipht_60_machine_execution_time.yml
app/Untitled.ipynb
app/aws_data.yml
app/aws_data2.yml
app/aws_trasfer.yml